<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-firebasex-performance"
        version="1.0.0">

    <name>cordova-plugin-firebasex-performance</name>
    <description>Firebase Performance Monitoring module for cordova-plugin-firebasex</description>
    <license>MIT</license>
    <keywords>cordova,firebase,performance,monitoring</keywords>

    <engines>
        <engine name="cordova" version=">=12.0.0" />
        <engine name="cordova-android" version=">=14.0.0" />
        <engine name="cordova-ios" version=">=7.0.0" />
    </engines>

    <preference name="FIREBASE_PERFORMANCE_COLLECTION_ENABLED" default="true" />
    <preference name="ANDROID_FIREBASE_PERFORMANCE_MONITORING" default="false" />
    <preference name="ANDROID_FIREBASE_PERF_GRADLE_PLUGIN_VERSION" default="2.0.1" />

    <dependency id="cordova-plugin-firebasex-core" />

    <js-module src="www/firebasex-performance.js" name="FirebasexPerformancePlugin">
        <clobbers target="FirebasexPerformancePlugin" />
    </js-module>

    <hook type="after_prepare" src="scripts/after_prepare.js" />

    <!-- Android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebasexPerformancePlugin">
                <param name="android-package" value="org.anthropic.cordova.firebase.FirebasexPerformancePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="firebase_performance_collection_enabled" android:value="$FIREBASE_PERFORMANCE_COLLECTION_ENABLED" />
        </config-file>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/FirebasexPerformancePlugin.java"
                     target-dir="src/org/anthropic/cordova/firebase" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebasexPerformancePlugin">
                <param name="ios-package" value="FirebasexPerformancePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/FirebasexPerformancePlugin.h" />
        <source-file src="src/ios/FirebasexPerformancePlugin.m" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
            </config>
            <pods use-frameworks="true">
                <pod name="FirebasePerformance" spec="12.9.0"/>
            </pods>
        </podspec>
    </platform>

</plugin>
